html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Syne', 'Work Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.3;
    background-color: $offWhite;
    color: $pitchBlack;
}

.flex {
    display: flex;

    &-jc-sb {
    justify-content: space-between;
    }

    &-jc-c {
    justify-content: center;
    }

    &-ai-c {
    align-items: center ;
    }
}


.grid {
    display: grid;
}

a, a:visited {
    text-decoration: none;
    color: $pitchBlack;
    font-weight: 500;
}


.hide-mobile {
    @include breakpoint-down(small){
        display: none;
    }
}

.hide-desktop {
    @include breakpoint-up(medium){
        display: none;
    } 
}
