.header {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    top: auto;
    width: 100%;

    
@include breakpoint-up(medium) {
        bottom: auto;
        top: 0;
}
     

    nav {
        background-color: $accentOrange;
        border-radius: 6px;
        padding: 5px 10px;
        margin: 2px 5px 5px 5px;

        @include breakpoint-up(medium) {
          background-color: $pitchBlack;
          
          a{
          color: $accentOrange;
            }
        }
    }

        &__menu {
        
            > span {
                font-weight: 700;

                &:hover {
                    font-weight: 700;;
                }
            }
        }

        &__links {

            a {
                &:not(:last-child) {
                    padding-right: 16px;
                }

                &:hover {
                    color: hsl(13, 76%, 22%);
                }

            }
    }
}


