$pitchBlack: hsl(0, 0%, 11%);
$accentOrange: hsl(13, 88%, 55%);
$lightGray: hsl(0, 0%, 82%);
$darkGray: hsl(0, 0%, 47%);
$offWhite: hsl(0, 0%, 96%);

$font-small: 0.875rem;
$font-medium: 1.125rem;
$font-large: 2rem;